html, body{
    height: 100%;
    text-align: center;
    background-color: #f1f1f1;
    font-family: 'Bai Jamjuree', sans-serif;

}
h1{
    font-size: 80px;
    font-family: 'Lobster', sans-serif;
}
h2{
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
}
h3{
    font-family: 'Lobster';
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:visited {
    color: #5c1212;
}
a:hover {
    color: #b62121;
}
/** left stuff **/

#left{
float: left;
width: 20%;
background: #c9c2c2;
padding: 10px;
margin: 30px;
border-radius: 5px;
}

#left img{
    margin: 0px;
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    border-style: dashed;
    border-color: #5c1212bb;
    
}

div.sticky {
    position: sticky;
    top: 0;
    margin: 30px;
}

/** right stuff **/
#right{
float: right;
width: 70%;
text-align: center;
}

.card{
    position: relative;
    display: flex;
    border-radius: 5px;
    width: 60%;
    min-height: 100px;
    box-shadow: 4px 8px 20px #c7c7c7;
    margin: auto;
    margin-bottom: 60px;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

.card-left {
    width: 40%;
    padding: 0px;
    height: 250px;
}

.card-left img {
    margin: 0px;
    min-height: 100%;
}
.card-right {
background-color: white;
flex-wrap: wrap;
justify-content: center;
min-height: 100%;
display: flex;
align-content: space-between;

}
.card img:hover {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    overflow: hidden;
    height: 250px;
}
.cardbuttons {
    background-color: white;
    border: 2px solid #5c1212bb;
    border-radius: 8px;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;

}
.cardbuttons:hover {
    background-color: #5c1212;
    color: white;
}
.card:hover {
    box-shadow: 4px 8px 13px #c7c7c7;
}

/** footer **/
footer{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    text-align:center;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.Site-content {
    flex: 1;
}